@import "../../styles/variable.scss";
@import '../../styles/include-media';

.ssn {
    text-decoration: none;
    background-color: $btn-bg;
    color: $primary-color;
    width: 61px;
    height: 56px;
    display: block;
    justify-content: center;
    align-items: center;
    display: flex;
    filter: drop-shadow($primary-color 0 0.5rem 5px);

    @include media('<tablet') {
        width: 40px;
        height: 40px;
        background-color: initial;
        filter: none;
    }

    span {
        font-size: 28px;
    }

    &--secondary {
        background-color: initial;
        color: $secondary-bg;
        filter: none;
    }
}
