@import "../../styles/variable.scss";
@import '../../styles/include-media';

.iconitem {
    position: relative;
    max-width: 516px;
    padding: 40px 0 16px 30px;

    &__icon {
        span {
            position: absolute;
            font-size: 72px;
            z-index: 1;
            color: $btn-bg;
            top: 0;
            left: 0;
        }
    }

    &__content {
        position: relative;
        z-index: 2;
    }
}