$primary-bg: #D7D7D7;
$primary-color: #000;
$secondary-bg: #FFF;
$secondary-color: #000;
$tertiary-color: #909090;
$btn-bg: #C4C4C4;

$primary-font: "Raleway", sans-serif;
$secondary-font: "Montserrat", sans-serif;

$hero-max-width: 1440px;