@import '../../styles/variable.scss';
@import '../../styles/include-media';

.title {
    color: $secondary-color;
    font-size: 80px;
    font-weight: bold;

    @include media('<tablet') {
        font-size: 35px;
        color: $primary-color;
    }

    &--primary {
        color: $primary-color;
    }

    &--secondary {
        font-size: 30px;
        padding: 34px 50px;
        border: 8px solid $primary-color;
        max-width: max-content;
        text-transform: uppercase;
        letter-spacing: 10px;

        @include media('<tablet') {
            font-size: 14px;
            padding: 18px 40px;
        }
    }
}