@import "../../styles/variable.scss";
@import '../../styles/include-media';


.cta {
  width: max-content;
  border-bottom: 5px solid transparent;

  > a,
  > button {
    font-family: $secondary-font;
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 5px;
    cursor: pointer;
    text-decoration: none;
    color: $primary-color;

    @include media('<tablet') {
      font-size: 20px;
    }
  }

  &:hover {
    border-bottom: 5px solid $primary-color;
  }

  button {
    background: none;
    border: none;
  }

  &--primary {
    border-left: 2px solid $primary-color;
    border-right: 2px solid $primary-color;
    border-bottom: none;
    padding: 5px 20px;

    > a,
    > button {
      font-size: 15px;
      font-weight: 500;
      letter-spacing: initial;
    }

    &:hover {
      border-bottom: none;
    }
  }

  &--secondary {
    border-bottom: 2px solid transparent;

    > a,
    > button {
      font-size: 17px;
      color: $secondary-bg;
      letter-spacing: normal;
    }

    &:hover {
      border-bottom: 2px solid $secondary-bg;
    }
  }

  &--tertiary {
    border-bottom: 0px;

    > a,
    > button {
      font-size: 15px;
      color: $secondary-color;
      letter-spacing: normal;
      padding: 10px;
      background-color: $secondary-bg;
      border-radius: 20px;
    }

    &:hover {
      border-bottom: 0px;
    }
  }
}
