@import '../../styles/variable.scss';

header {
    position: fixed;
    top: 60px;
    width: 40%;
    z-index: 10;
    left: 50%;

    .container {
        max-width: $hero-max-width;
        margin: 0 auto;
    }

    ul {
        display: flex;
        justify-content: space-between;
    }
}