@import '../../styles/variable.scss';
@import '../../styles/include-media';
@import '../../styles/mixins.scss';

.about-me {
    @include content-spacing;
    text-align: center;

    h2 {
        @include title-spacing;
    }

    p {
        margin-bottom: 67px;
        line-height: 1.5;

        @include media('<tablet') {
            margin-bottom: 30px;
        }
    }

    .cta {
        margin: 0 auto;
    }
}
